body{
    background-color: antiquewhite;
    font-family: sans-serif;
    margin: 0;
    padding: 0;
}

.container{
    display: flex;
    justify-content: center; 
    
}
form{
    border: 1px solid rgb(207, 207, 241);
    padding: 30px;
    background-color: rgb(72, 154, 195);
    border-radius: 8px;
}
h2{
    text-align: center; 
    text-transform: uppercase;
    color: greenyellow;
    font-size: xx-large;
    font-weight: 600;
}
input{
    margin-top: 10px;
    padding: 10px;
    width: 400px;
    border-radius: 6px;
}
.btn{
    margin-top: 20px;
    padding-left: 30px;
}
.btn-zero{
    border-radius: 5px;
    background-color: #d9f6a3;
    color: rgb(9, 9, 9);
    font-size: 15px;
    font-weight: 600;
    padding: 10px 150px 10px 165px;
}
.btn-zero:hover{
    background-color: rgb(51, 231, 35);
    color: rgb(6, 6, 6);     
}
label{
    color: white;
}


